{% extends 'base.html.twig' %}

{% block title %}Toutes les catégories{% endblock %}

{% block body %}
<div class="container">
    <h1>Toutes les catégories de la table category :</h1>

    {% for category in categories %}
        <div>
            <p>
                <a href="{{ path("category_show", { categoryName: category.name }) }}">
                {{ loop.index }} {{ category.name }}
                </a>
            </p>
        </div>
    {% else %}
        Aucune catégorie trouvée.
    {% endfor %}

    <a class="" href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>

</div>

{#    {{ dump(categories) }}#}

    {# Exemple de code pour afficher les tags associés à chaque article dans le template Twig #}
    {#    {% for article in articles %} #}
    {#        <h2>{{ article.title }}</h2> #}
    {#        <p>{{ article.content }}</p> #}
    {#        <ul> #}
    {#            {% for tag in article.tags %} #}
    {#                <li>{{ tag.name }}</li> #}
    {#            {% endfor %} #}
    {#        </ul> #}
    {#    {% endfor %} #}



{% endblock %}