{% extends 'base.html.twig' %}

{% block title %}Catégories #{{ category.name }}{% endblock %}

{% block body %}
    <div class="media">
        <div class="media-body">
            <ul>
                {% for program in category.programs %}
                    <li class="mt-0">
                        <a href="{{ path("program_show", { id: program.id }) }}">
                            {{ program.title }} : {{ program.synopsis }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>
{% endblock %}