{% extends 'base.html.twig' %}

{% block title %}Toutes les séries{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Toutes les séries de la table program :</h1>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for program in programs %}
                <div class="col justify-content-center">
                    <div class="card">
                        <img class="card-img-top" src="{{ program.poster }}" alt="{{ program.title }} poster">
                        <div class="card-body">
                            <h4 class="card-title">{{ program.title }}</h4>
                            <h6 class="">Catégorie : {{ program.category.name }}</h6>
                            <p class="card-text">{{ program.synopsis }}</p>
                        </div>
                        <div class="modal-footer mx-auto">
                            <a href="{{ path("program_show", { id: program.id }) }}" class="btn btn-primary">Détails</a>
                        </div>
                    </div>
                </div>
            {% else %}
                Aucune série trouvée.
            {% endfor %}
        </div>
        <div class="btn btn-link mx-auto">
            <a href="{{ path('app_index') }}">
                Retour à l'accueil
            </a>
        </div>
    </div>




    {#    <div class="card" style="width: 18rem;"> #}
    {#        <img src="..." class="card-img-top" alt="..."> #}
    {#        <div class="card-body"> #}
    {#            <h5 class="card-title">Card title</h5> #}
    {#            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
    {#        </div> #}
    {#        <ul class="list-group list-group-flush"> #}
    {#            <li class="list-group-item">An item</li> #}
    {#            <li class="list-group-item">A second item</li> #}
    {#            <li class="list-group-item">A third item</li> #}
    {#        </ul> #}
    {#        <div class="card-body"> #}
    {#            <a href="#" class="card-link">Card link</a> #}
    {#            <a href="#" class="card-link">Another link</a> #}
    {#        </div> #}
    {#    </div> #}

{% endblock %}