{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}
    <div class="container">
        <img class="img-fluid" src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h2 class="mt-0">{{ program.title }}</h2>
            <h5>Catégorie : {{ program.category.name }}</h5>
            <p>{{ program.synopsis }}</p>

        </div>

    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>

    </div>
{% endblock %}